.slider {
    background-color: $white;
    margin-bottom: 14px;
    .item{
      background-size: cover;
      background-position: center;
      height: 587px;
      a{
        position: absolute;
        left: 47px;
        bottom: 135px;
        text-decoration: none;
        background-color: #C92036;
        font-size: 25px;
        padding: 3px 28px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        transition: all .3s ease;
        &:hover{
          background-color: #312728;
        }
      }
      p{
        position: absolute;
        bottom: 0;
        left: 100px;
        color: $white;
        width: 75%;
        text-shadow: 2px 2px $text-dark;
        font-size: 25px;
      }
    }
}
.owl-carousel {
    position: relative;

    .owl-prev {
        position: absolute;
        top: 50%;
        left: 14px;
        color: $text-dark;

        span {
            font-size: 30px;
        }

        &:hover {
            background: transparent !important;
            color: $text-dark !important;
        }
    }

    .owl-next {
        position: absolute;
        top: 50%;
        right: 14px;

        span {
            font-size: 30px;
        }

        &:hover {
            background: transparent !important;
            color: $text-dark !important;
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 14px;
        left: 50%;
    }
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;

    &.img-width {
        width: 100%;
    }
}

.services {
    display: flex;
    background: url("/img/test.jpg");
    .nav-tabs{
      .nav-item{
        margin-bottom: -13px;
      }
    }
    .tab-pane{
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: relative;
      &:after{
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);
        opacity: .72;
      }
      .tab-body, .container{
        height: 100%;
      }
      .tab-body{
        *{
          z-index: 2;
        }
        .container{
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          color: $white;
          padding: 40px;
          h1{
            font-size: 25px;
            margin-bottom: 5px;
          }
          p{
            margin-bottom: 20px;
          }
        }
      }
    }

    &-links {
        background-color: #13243B;
        li{
          a {
              display: flex;
              flex-direction: column;
              text-decoration: none;
              align-items: center;
              padding: 0;
              margin: 21.5px 45px;
              font-size: 16px;
              color: $white;
              border: none !important;
              border-radius: 0 !important;
              &.active{
                color: $active !important;
                background-color: transparent !important;
                border-color: transparent !important;
                svg {
                    width: 50px;

                    path {
                        fill: currentColor;
                    }
                }
              }


              svg {
                  width: 50px;

                  path {
                      fill: currentColor;
                  }
              }

              &:first-child {
                  margin: 40px 45px 21.5px;
              }

              &:hover {
                color: $active !important;
                background-color: transparent !important;
                border-color: transparent !important;

                  svg {
                      path {
                          fill: currentColor;
                      }
                  }
              }
          }
        }
    }
}

.search {
    background-color: $white;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        overflow: hidden;
        position: relative;
        width: 100%;
        margin: 20px 23px;

        input {
            width: 100% !important;
            height: 50px;
            border-radius: 25px;
            border: 2px solid #bbbbbb;
            padding: 0 45px 0 30px;
            color: #949495;
            font-family: $default-family;
            font-size: 15px;
        }

        button {
            border: none;
            background: transparent;
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px 17px 10px 0;
        }
    }
}

.vacancies {
    background-color: $white;
    height: 286px;
    margin-top: 14px;
    &-resume{
      height: 50%;
      width: 100%;
      background-color: $active;
      padding: 20px;
    }
    &-vacancy{
      height: 50%;
      width: 100%;
      background-color: $indigo;
      padding: 20px;
    }
}

.news {
    margin: 0.875rem 0;

    &-header {
        border-bottom: 2px solid #e5e5e5;
        display: flex;
        justify-content: space-between;
        background-color: $white;

        h1 {
            color: $text-dark;
            font-family: $default-family;
            font-size: 30px;
            font-weight: 400;
            margin: 15px 0 22px 41px;
        }

        .dots {
            display: flex;
            justify-content: center;
            align-items: center;

            .dot {
                width: 15px;
                height: 15px;
                border: 1px solid $text-dark;
                border-radius: 50%;
                margin-right: 10px;

                &:last-child {
                    margin-right: 25px;
                }

                &.active {
                    background-color: $text-dark;
                }
            }
        }
    }

    &-body {
        background-color: $white;

        .news-carousel-item {
            padding: 20px 18px;
        }

        .news-item {
            overflow: hidden;
            padding: 10px 0;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;

            &-img {
              margin-right: 12px;
              background-size: cover;
              width: 73px;
              height: 73px;
              img{
                width: 73px;
                height: 73px;
                max-width: 100px;
                float: left;
                clear: both;
              }
            }

            &-content {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                a {
                    text-decoration: none;
                    color: $text-dark;
                    font-size: 12px;
                }
                p{
                  margin: 0;
                }
            }
        }
    }
}

.after-news {
    height: 496px;
    margin-bottom: 14px;
    background-color: #4ec6fa;
    padding: 20px;
}

.questions {
    padding: 34px 30px;
    background-color: $white;
    margin-bottom: 14px;

    .nav-tabs{
      border-bottom: 0;
      .nav-link{
        font-size: 30px;
        font-weight: 500;
        color: $text-dark;
        font-family: $default-family;
        background: none;
        border: none;
        &.active{
          background: none !important;
          border: none !important;
        }
      }
      .nav-item.show .nav-link{
        background: none !important;
        border: none !important;
      }
    }

    .form-group{
      &.auth{
        textarea{
          margin-bottom: 30px;
        }
        button{
          margin-bottom: 5px;
        }
      }
    }

    .dropdown-item{
      font-size: 20px;
      font-weight: 500;
      color: $text-dark;
      font-family: $default-family;
    }
    &-header {
        display: flex;
        margin-bottom: 29px;

        h1 {
            font-size: 30px;
            font-weight: 500;
            font-family: $default-family;
            color: $text-dark;
            margin-right: 17px;
            margin-left: 11px;
        }
    }

    .form-control {
        padding: 11px 21px;
        margin-bottom: 20px;
        border-radius: 0;
    }
}

.video {
    margin-bottom: 14px;
}

.featured-professions {
    margin: 14px 0;
    background-color: $white;
    .professions-item{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 390px;
      .featured-professions-content{
        width: 100%;
        padding: 0 20px;
      }
      .featured-professions-img{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;

      }
    }
}

.actually-professions {
    display: flex;
    margin-bottom: 14px;
    height: 390px;
    &-in-kz {
        height: 100%;
        background-color: $white;
    }
    .col-md-6{
      padding: 0;
      &:first-child{
        padding-right: 7px;
      }
      &:last-child{
        padding-left: 7px;
      }
    }

    .professions-item{
      height: 390px;
      width: 100%;

      &:after{
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);
        opacity: .72;
      }

      .actually-professions-content{
        height: 100%;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: $white;
        *{
          z-index: 2;
        }
      }
    }

    &-in-region {
        height: 100%;
        background-color: $white;
    }
}

.tabs {
    margin-bottom: 14px;
    background-color: #c6ced1;

    .nav-tabs {
        display: flex;

        .nav-item {
            width: 25%;
            text-align: center;

            .nav-link {
                color: #ffffff;
                font-family: $default-family;
                font-size: 20px;
                font-weight: 300;
                border: none;
                padding: 15px 0;
                border-radius: 0;

                &.active {
                    background-color: $white;
                    color: $text-dark;
                }
            }
        }
    }

    .tab-pane{
      height: 303px;
      background-color: $white;
    }
}

.partners {
    margin-bottom: 14px;
    background-color: $white;

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .egov {
            padding: 66px 0 54px 57px;
        }

        .enbekkz {
            padding: 43px 0 41px;
        }

        .mintruda {
            padding: 38px 0 26px;
        }

        .enbek {
            padding: 38px 0;
        }

        .akimat {
            padding: 52px 79px 41px 0;
        }
    }
}
