//-------------------- FIRST PAGE -------------------------//
.quiz-items{
  padding-top: 40px;
  .quiz-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &-link{
      padding-top: 10px;
      font-size: 20px;
      font-family: $default-family;
      color: $active;
      text-decoration: none;
    }
  }
}
//-------------------- END FIRST PAGE -------------------------//

.skill{
  margin-top: 40px;
  &-title{
    margin-bottom: 48px;
  }
  .btn.btn-default{
    padding: 14px 30px;
    font-size: 18px;
    color: $white;
    text-transform: uppercase;
    font-weight: 300;
    font-family: $default-family;
    background-color: $active;
    border: none;
    &:hover{
      background-color: darken($active, 5%);
    }
    &:focus{
      box-shadow: none;
      background-color: lighten($active, 5%);
    }
    &:active{
      box-shadow: none !important;
      background-color: lighten($active, 5%) !important;
    }
  }
  &-radio{
    background-color: $white;
    margin-bottom: 12px;
    padding: 21px 30px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.06);
    &:hover{
      cursor: pointer;
      label{
        cursor: pointer;
        i{
          cursor: pointer;
          color: $active;
        }
      }
    }
    label{
      margin-bottom: 0;
      i{
        margin-right: 5px;
      }
    }
    label input[type="radio"] ~ i.far.fa-circle{
        display: inline;
    }
    label input[type="radio"]{
      display: none;
    }
    label input[type="radio"] ~ i.fas.fa-check-circle{
        display: none;
    }
    label input[type="radio"]:checked ~ i.far.fa-circle{
        display: none;
    }
    label input[type="radio"]:checked ~ i.fas.fa-check-circle{
        color: $active;
        display: inline;
    }
  }
}
