.skill {
    text-align: center;
    padding: 0 2px
}

.skill--hidden {
    display: none
}

.skill__title {
    font-size: 18px;
    line-height: 24px;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left
}

.skill__attention {
    color: #00adee
}

.skill__memory {
    color: #86c634
}

.skill__flexibility {
    color: #fb9700
}

.skill__desc {
    font-size: 14px;
    line-height: 19px;
    color: #999;
    text-align: left
}

.skill__form {
    font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #333;
    margin-bottom: 32px
}

.skill__item {
    background-color: #fff;
    margin-bottom: 12px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .06);
    text-align: left
}

.skill__field {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden
}

.skill__label {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    font-size: 12px;
    padding: 12px 5px 12px 52px;
    min-height: 60px
}

.skill__label:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #b3b3b3;
    border-radius: 3px;
    display: inline-block;
    margin-left: 16px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.skill__label:focus:before,
.skill__label:hover:before {
    border-color: #6039aa
}

.skill__field:checked+.skill__label:before {
    border-color: #6039aa;
    background-color: #6039aa;
    background-image: url(/build/4b5ffffcc578856a3dab4e8331f0d46f.svg);
    background-repeat: no-repeat;
    background-position: 2px 1px;
    background-size: 17px auto
}

.skill__btns {
    width: 65%;
    margin: 0 auto
}

.skill__btn {
    margin-top: 8px;
    cursor: pointer
}

.skill__btn:focus {
    background-color: #6039aa;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-box-shadow: none;
    box-shadow: none
}
