
// Body
$body-bg: #e9eef2;

// Typography
$default-family: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;
$text-dark: #656565;
$text-grey: #949495;
$description: #707070;
$active: #57CACA;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #6039aa;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$button: #ed5f5e;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 14px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1280px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1200px);
$gutter: $grid-gutter-width;
