
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';
@import "nav";
@import "footer";
@import "pages/home";
@import "pages/login";
@import "pages/quiz";
@import "pages/profile";
@import "pages/educations";
@import "pages/professions";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Owl.Carousel

@import '~owl.carousel/dist/assets/owl.carousel.min.css';
@import '~owl.carousel/dist/assets/owl.theme.default.css';

body{
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  font-family: $default-family;
}
.form-control{
  color: #8e8c8c;
  font-family: $default-family;
  font-size: 16px;
  &:focus{
    box-shadow: 0 0 0 2px #56cbc7;
    color: #8e8c8c;
  }
}
main{
  margin-top: 20px;
}
.btn-primary{
  width: 100%;
  padding: 16px 56px;
  font-size: 18px;
  color: $white;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  font-family: $default-family;
  background-color: $purple;
  border: none;
  transition: all .3s ease;
  &:hover{
    background-color: darken($purple, 5%);
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
  }
  &:focus{
    box-shadow: none;
    background-color: lighten($purple, 5%);
  }
  &:active{
    box-shadow: none !important;
    background-color: lighten($purple, 5%) !important;
  }
}
.btn-outline{
  width: 100%;
  padding: 14px 30px;
  font-size: 18px;
  color: $purple;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  font-family: $default-family;
  background-color: transparent;
  border: 3px solid $purple;
  border-radius: 5px;
  &:hover{
    color: darken($purple, 5%);
    border-color: darken($purple, 5%);
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
  }
  &:focus{
    box-shadow: none;
    color: lighten($purple, 5%);
    border-color: lighten($purple, 5%);
  }
  &:active{
    box-shadow: none !important;
    color: lighten($purple, 5%) !important;
    border-color: lighten($purple, 5%) !important;
  }
}
.btn-outline-white{
  padding: 14px 30px;
  font-size: 18px;
  color: $white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  font-family: $default-family;
  background-color: transparent;
  border: 2px solid $white;
  border-radius: 5px;
  &:hover{
    background-color: $white;
    color: $text-dark;
  }
}
.btn-round{
  background-color: #5ea6ed;
  border-radius: 10px;
  color: $white;
  width: 100%;
  padding: 10px 20px;
  border: 3px solid transparent;
  transition: all .3s ease;
  &:hover{
    background-color: transparent;
    border: 3px solid #5ea6ed;
  }
}
.indev{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  &-text{
    font-size: 35px;
    position: absolute;
    top: 350px;
    left: 350px;
    font-weight: 300;
    font-family: $default-family;
  }
  &-back{
    position: absolute;
    font-size: 25px;
    top: 390px;
    left: 350px;
    font-family: $default-family;
    a{
      text-decoration: none;
      color: #212529;
    }
  }

  &-bey{
    position: absolute;
    bottom: 250px;
    left: 350px;
    a{
      font-family: $default-family;
      font-weight: 300;
      font-size: 25px;
      color: $white;
      text-decoration: none;
    }
  }
}