
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';
@import "nav";
@import "footer";
@import "pages/home";
@import "pages/login";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Owl.Carousel

@import '~owl.carousel/dist/assets/owl.carousel.min.css';
@import '~owl.carousel/dist/assets/owl.theme.default.css';

body{
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  font-family: $default-family;
}
.form-control{
  color: #e1e1e1;
  font-family: $default-family;
  font-size: 20px;
  &:focus{
    box-shadow: 0 0 0 2px #56cbc7;
    color: #8e8c8c;
  }
}
input.form-control{
  height: 52px;
}
.btn-primary{
  padding: 14px 30px;
  font-size: 18px;
  color: $white;
  text-transform: uppercase;
  font-weight: 300;
  font-family: $default-family;
  background-color: $button;
  border: none;
  &:hover{
    background-color: darken($button, 5%);
  }
  &:focus{
    box-shadow: none;
    background-color: lighten($button, 5%);
  }
  &:active{
    box-shadow: none !important;
    background-color: lighten($button, 5%) !important;
  }
}
.btn-outline{
  padding: 14px 30px;
  font-size: 18px;
  color: $button;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  font-family: $default-family;
  background-color: transparent;
  border: 3px solid $button;
  border-radius: 5px;
  &:hover{
    color: darken($button, 5%);
    border-color: darken($button, 5%);
  }
  &:focus{
    box-shadow: none;
    color: lighten($button, 5%);
    border-color: lighten($button, 5%);
  }
  &:active{
    box-shadow: none !important;
    color: lighten($button, 5%) !important;
    border-color: lighten($button, 5%) !important;
  }
}
.btn-outline-white{
  padding: 14px 30px;
  font-size: 18px;
  color: $white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  font-family: $default-family;
  background-color: transparent;
  border: 2px solid $white;
  border-radius: 5px;
  &:hover{
    background-color: $white;
    color: $text-dark;
  }
}
